.hero {
  height: 300px;
  overflow: hidden;
}

.hero-image {
  object-fit: cover;
  height: 100%;
}

.hero-content {
  background: linear-gradient(transparent, rgba(0,0,0,0.7));
  left: 0;
  right: 0;
}

.logo {
  height: 24px;
  object-fit: contain;
}

.modal {
  background-color: rgba(0,0,0,0.5);
}
.thick-line{
  border: none; 
  height: 2px;  
  
  background-color: black;
  margin: 15px 0 0;
}
.feedNav{
  border: none; 
  height: 2px;  
  
  background-color: black;
  margin: 15px 0 0;
}

@media (max-width: 768px) {
  .hero {
    height: 200px;
  }
}




.modal-dialog {
  max-width: 800px;
  margin: 1.75rem auto;
}

.modal-content {
  border-radius: 8px;
}

.modal-header .btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.form-control {
  padding: 0.75rem 1rem;
  border: 1px solid #D9D9DB;
}

.form-control:focus {
  box-shadow: none;
  border-color: #666;
}

.btn-outline-dark {
  border-color: #D9D9DB;
}

.btn-outline-dark:hover {
  background-color: #EDEEF0;
  border-color: #D9D9DB;
  color: inherit;
}

@media (max-width: 768px) {
  .modal-dialog {
    margin: 0;
    height: 100vh;
  }

  .modal-content {
    height: 100%;
    border-radius: 0;
  }
}

.custom-input {
  width: 360px; 
  height: 42px;
  padding-left: 15px; 
  padding-right: 15px; 
}
.search{
  justify-content: center;
}
.header{
  height: 440px;
}

.modal-backdrop {
  z-index: 1040 !important; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
  z-index: 1050 !important;
}
.eye{
  height: 70px;
  width: 20px;
}

.custom-button {
  width: 100%; 
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 10px; 
  background-color: white;
  cursor: pointer; 
  transition: border-color 0.3s; 
}

.custom-button:hover {
  border-color: transparent; 
}

.text-danger {
  color: red; 
}

.text-success {
  color: green; 
}
.card-title{
  max-width: 600px;
}
.post-type{
  height: 25px;
}
.time-loc{
  gap:50px;
}





.custom-dropdown {
  position: absolute;
  top: 20px; 
  right: 0; 
  width: 160px;
  height: 145px;
  background-color: white; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  border-radius: 5px; 
  z-index: 1000; 
}

.custom-dropdown .dropdown-item {
  padding: 10px;
  font-size: 14px; 
  cursor: pointer;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #f8f9fa;
}
